@page "/userform"
@using BlazorTestingExample.Core.User
@using BlazorTestingExample.Shared.Models
@inject IUserService UserService

<h3>User Form</h3>

<EditForm Model="user" OnValidSubmit="HandleValidSubmit" FormName="UserForm">
    <DataAnnotationsValidator />

    <div>
        <label>First Name:</label>
        <InputText @bind-Value="user.FirstName" placeholder="First Name" />
        <ValidationMessage For="() => user.FirstName" />
    </div>

    <div>
        <label>Last Name:</label>
        <InputText @bind-Value="user.LastName" placeholder="Last Name" />
        <ValidationMessage For="() => user.LastName" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@if (submitted)
{
    <p>@message</p>
}

@code {
    private UserDto user { get; set; } = new();
    private bool submitted = false;
    private string message = "";

    private void HandleValidSubmit()
    {
        var newUser = UserService.AddUser(user);
        message = $"Submitted: {newUser.FirstName} {newUser.LastName} ({newUser.Id})";
        submitted = true;
    }
}