@page "/userform"
@using BlazorTestingExample.Shared.Models

<h3>User Form</h3>

<EditForm Model="user" OnValidSubmit="HandleValidSubmit" FormName="UserForm">
    <DataAnnotationsValidator />

    <div>
        <label>First Name:</label>
        <InputText @bind-Value="user.FirstName" placeholder="First Name" />
        <ValidationMessage For="() => user.FirstName" />
    </div>

    <div>
        <label>Last Name:</label>
        <InputText @bind-Value="user.LastName" placeholder="Last Name" />
        <ValidationMessage For="() => user.LastName" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@if (submitted)
{
    <p>Submitted: @user.FirstName @user.LastName</p>
}

@code {
    private User user = new(){FirstName = "", LastName = ""};
    private bool submitted = false;

    private void HandleValidSubmit()
    {
        submitted = true;
    }
}